@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  background: #151515;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .main {
  width: 60vw;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Raleway';
}

.container .main .heading {
  font-size: 3rem;
  letter-spacing: 2px;
  color: #f35626;
  background-image: linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  -webkit-animation: font_anim 10s infinite linear;
          animation: font_anim 10s infinite linear;
}

.container .main .stopwatch {
  font-size: 3rem;
  color: #fff;
}

.container .main .btn_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #fff;
}

.container .main .btn_div .btn {
  font-size: 2rem;
  border: 2px solid #2c5364;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
}

@-webkit-keyframes font_anim {
  from {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
            filter: hue-rotate(-360deg);
  }
}

@keyframes font_anim {
  from {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
            filter: hue-rotate(-360deg);
  }
}
